.static-info-page-header-wrapper {
  background-color: $msj-orange;
  color: $msj-white-text;
  height: 275px;
  display: flex;
  align-items: center;
}

.static-info-page-header {
  display: flex;
  align-items: center;
}

.static-infos-page-header-content {
  @media (min-width: $msj-small-breakpoint) {
    margin-left: 45px;
  }
}

.static-infos-page-header-icon {
  display: none;

  @media (min-width: $msj-small-breakpoint) {
    display: flex;
  }
}

.static-infos-page-header-category {
  font-size: 16px;
  text-transform: uppercase;
  color: $msj-white-text;

  @media (min-width: $msj-small-breakpoint) {
    font-size: 18px;
  }
}

.static-infos-page-header-title {
  font-size: 36px;
  color: $msj-white-text;

  @media (min-width: $msj-small-breakpoint) {
    font-size: 48px;
  }
}

.static-infos-page-header-subtitle {
  font-size: 18px;

  @media (min-width: $msj-small-breakpoint) {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}
