{"http_interactions":[{"request":{"method":"post","uri":"https://api.sendinblue.com/v3/transactionalSMS/sms","body":{"encoding":"UTF-8","string":"{\"sender\":\"RDVJustice\",\"recipient\":\"+33666666666\",\"content\":\"Bonjour, votre compte Mon Suivi Justice a été créé. Pour y accéder et suivre vos rendez-vous justice, cliquez sur le lien suivant et choisissez votre mot de passe: http://www.example.com/convicts/invitation/accept?invitation_token=<TOKEN>\",\"type\":\"transactional\",\"unicodeEnabled\":false}"},"headers":{"Content-Type":["application/json"], "Api-Key":["<API_KEY>"], "Partner-Key":["<API_KEY>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"77-ZfsVw1I2oTReZNoPLAS3dRAn3/4\""], "Sib-Request-Id":["ed614659-0522-9d4e-82a7-6c780861d91e"], "X-Sib-Server":["srv-pr-rancher-worker-19.prod.illiad.51b.tech"]},"body":{"encoding":"UTF-8","string":"{\"reference\":\"3l63ak4do6x4zu7h3gfc\",\"messageId\":9847294414138648,\"smsCount\":2,\"usedCredits\":9,\"remainingCredits\":10229}"}},"recorded_at":"Tue, 29 Mar 2022 10:03:14 GMT"}],"recorded_with":"VCR 6.0.0"}
