{"http_interactions":[{"request":{"method":"post","uri":"https://api.sendinblue.com/v3/transactionalSMS/sms","body":{"encoding":"UTF-8","string":"{\"sender\":\"RDVJustice\",\"recipient\":\"+33666666666\",\"content\":\"Bonjour, votre compte Mon Suivi Justice vous attend toujours. Pour y accéder et suivre vos rendez-vous justice, cliquez sur le lien suivant et choisissez votre mot de passe: http://www.example.com/convicts/invitation/accept?invitation_token=<TOKEN>\",\"type\":\"transactional\",\"unicodeEnabled\":false}"},"headers":{"Content-Type":["application/json"], "Api-Key":["<API_KEY>"], "Partner-Key":["<API_KEY>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"78-xsj3LVkAxVjQ13WuuAZkvKT6jmI\""], "Sib-Request-Id":["dfdd51ee-abd6-95a6-bda2-cc5023c849ce"], "X-Sib-Server":["srv-pr-rancher-worker-19.prod.illiad.51b.tech"]},"body":{"encoding":"UTF-8","string":"{\"reference\":\"kbvzqjnu4pgui7h3gfc\",\"messageId\":1639936104165668,\"smsCount\":2,\"usedCredits\":9,\"remainingCredits\":10152.5}"}},"recorded_at":"Tue, 29 Mar 2022 10:42:13 GMT"}],"recorded_with":"VCR 6.0.0"}
