{"http_interactions":[{"request":{"method":"post","uri":"https://api.sendinblue.com/v3/transactionalSMS/sms","body":{"encoding":"UTF-8","string":"{\"sender\":\"RDVJustice\",\"recipient\":\"+33666666666\",\"content\":\"Bonjour, votre compte Mon Suivi Justice a été créé. Pour y accéder et suivre vos convocations justice, cliquez sur le lien suivant et choisissez votre mot de passe: http://www.example.com/convicts/invitation/accept?invitation_token=\\u003cTOKEN\\u003e\",\"type\":\"transactional\",\"unicodeEnabled\":false}"},"headers":{"Content-Type":["application/json"], "Api-Key":["<API_KEY>"], "Partner-Key":["<API_KEY>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"78-qby+viGlwT9oKPpkVJ93viSZB/8\""], "Sib-Request-Id":["a32fb135-8cb2-9c7e-8d76-8cc4deb2214f"], "X-Sib-Server":["srv-pr-rancher-worker-15.prod.illiad.51b.tech"]},"body":{"encoding":"UTF-8","string":"{\"reference\":\"4gynjzp7i4iyyy7h3gfc\",\"messageId\":10104388590733144,\"smsCount\":2,\"usedCredits\":9,\"remainingCredits\":25709}"}},"recorded_at":"Fri, 08 Apr 2022 14:59:54 GMT"}],"recorded_with":"VCR 6.0.0"}
