<% flash.each do |type, message| %>
  <% if type == 'notice' %>
    <div class="fr-alert fr-alert--success">
      <p class="fr-alert__title"><%= message %></p>
      <p>Description</p>
    </div>
  <% else %>
    <div class="fr-alert fr-alert--error">
      <p class="fr-alert__title"><%= message %></p>
    </div>
  <% end %>
<% end %>
