<div class='fr-container static-content-container'>
  <h1 class='static-simple-title static-title-orange'><%= content(:main_title) %></h1>

  <div class='static-content'>
    <%= content.html(:main_rich_description) %>
  </div>

  <% repeater(:rich_collapse) do |collapse| %>
    <%= render 'shared/collapse', collapse: collapse, collapse_style: "red"  %>
  <% end %>
</div>
