<div class='fr-container static-content-container'>
  <h1 class='static-simple-title static-title-orange'><%= content(:main_title) %></h1>

  <div class='static-content'>
    <%= content.html(:main_rich_description) %>
  </div>

  <% repeater(:rich_collapse) do |collapse| %>
    <div data-controller="collapse" data-collapse-expanded-value="0">
      <label for="toggle-amenagement1" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger' data-action="click->collapse#toggle" data-collapse-target="label">
        <div><%= collapse.content(:collapse_title) %></div>

        <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="amenagement1-picto-down" aria-hidden="true" data-collapse-target="pictoCollapsed"></span>
        <span class="fr-fi-arrow-right-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-active" id="amenagement1-picto-up" aria-hidden="true"  data-collapse-target="pictoExpanded"></span>
      </label>

      <div class='static-content amenagement1-content d-none' data-collapse-target="content">
        <%= collapse.content.html(:collapse_rich_content) %>
      </div>
    </div>

  <% end %>
</div>
