<% content_for :title, t('.title') %>

<div class='fr-container static-content-container'>
  <h1 class='static-title static-title-blue fr-mb-4w'><%= content(:main_title) %></h1>
  <div class='static-intro'><%= content.html(:main_rich_description) %></div>

  <h2 class='text-center fr-mt-8w fr-mb-4w'><%= content(:subtitle) %></h2>

  <div class="flex justify-center">
    <div class="fr-select-group">
      <%= select_tag "zip_code_selector", options_for_select(@zip_codes), {include_blank: t(".select_a_zip_code"), class: "fr-select fr-mb-4w", data: {target: 'preparer-mon-rdv.zipCode', action: 'change->preparer-mon-rdv#buildCards'}} %>
    </div>
  </div>

  <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters" id="spip_and_sap_cards_container" data-preparer-mon-rdv-target="cardsContainer" >
  </div>
</div>