<div class='fr-container static-content-container'>
  <h1 class='static-title static-title-blue fr-mb-4w'><%= content(:main_title) %></h1>
  <div class='static-intro'><%= content.html(:main_rich_description) %></div>

  <h2 class='preparer-secondary-title fr-mt-8w fr-mb-4w'><%= content(:subtitle) %></h2>

  <div class="fr-grid-row fr-grid-row--gutters">
    <% repeater(:basic_card) do |card| %>
      <div class="fr-col-6 fr-col-lg-3 fr-mb-2w">
        <%= link_to card.content(:card_title), card.content(:card_link), class: 'preparer-link' %>
      </div>
    <% end %>
  </div>
</div>
