<% content_for :title, t('.title') %>

<div class='fr-container static-content-container'  data-controller='preparer-mon-rdv' data-preparer-mon-rdv-url-value='/get_all_pages'>
  <h1 class='static-title static-title-blue fr-mb-4w'><%= content(:main_title) %></h1>
  <div class='static-intro'><%= content.html(:main_rich_description) %></div>

  <div class='video-wrapper'>
    <iframe src="https://www.mediatheque.justice.gouv.fr/iframe.php?data=T9LgcXztDjTP%2BiSIbXaXpTYmSVf7Iz1eyqnuRycfks68zWqPYP2SBx8WHAhVywNMy9Bs9L2WgC8V2z0QVSENmqHOyoZGK29pUAbYdRs%2B2T72jKR7EvU4Z7UMoHkLlB3FirmUr5BlNWoY9IvscNwtTSAzBEnsUQcJHtOkcTauDi%2BTtzSSV3eFujt%2BDk6iezdVjA%3D%3D%3Aaf85f13a65d99709045b6c2ebc0de8d7f125f03a&amp;hash=62fc4816f4783ddc7c2ec5631de21232fc9df31c" style="border:0;overflow: hidden;" width="620" height="358" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" msallowfullscreen="true" oallowfullscreen="true">MEDIA</iframe>
  </div>

  <h2 class='text-center fr-mt-8w fr-mb-4w'><%= content(:subtitle) %></h2>

  <div class="flex justify-center">
    <div class="fr-select-group">
      <%= select_tag "zip_code_selector", options_for_select(@zip_codes), {include_blank: t(".select_a_zip_code"), class: "fr-select fr-mb-4w", data: {target: 'preparer-mon-rdv.zipCode', action: 'change->preparer-mon-rdv#buildCards'}} %>
    </div>
  </div>

  <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters" id="spip_and_sap_cards_container" data-preparer-mon-rdv-target="cardsContainer" >
    <p>Si vous ne trouvez pas votre tribunal judicaire ou service pénitentiaire d’insertion et de probation, c’est qu’il n’est pas encore référencé. Pour plus d’informations, veuillez consulter <a href="https://lannuaire.service-public.fr/" target="_blank">l’annuaire des services publics.</a><p>
  </div>
</div>
