<% content_for :title, t('.title') %>

<div class='fr-container static-content-container'  data-controller='preparer-mon-rdv' data-preparer-mon-rdv-url-value='/get_all_pages'>
  <h1 class='static-title static-title-blue fr-mb-4w'><%= content(:main_title) %></h1>
  <div class='static-intro'><%= content.html(:main_rich_description) %></div>

  <div class='video-wrapper'>
    <div class="plvjs plvjs5482" style="width:100%;height:100%;display:block;"> <script>String.prototype.includes = function(match) {return this.indexOf(match) !== -1;}; if(!String.prototype.endsWith){String.prototype.endsWith=function(search,this_len){if (this_len===undefined || this_len>this.length){this_len=this.length;}return this.substring(this_len-search.length,this_len)===search;};} (function e(t,s){var i="";Array.isArray(t)||(t=[t]);var d="incJs"+(i=t.shift()).replace(/[^A-Za-z0-9]+/g,"");if(document.getElementById(d))t.length?e(t,s):s();else{var l=i.toLowerCase().includes(".css"),n=document.createElement(l?"link":"script");n.id=d,l?n.rel="stylesheet":n.type="text/javascript",n.readyState?n.onreadystatechange=function(){"loaded"!=n.readyState&&"complete"!=n.readyState||(n.onreadystatechange=null,t.length?e(t,s):s())}:n.onload=function(){t.length?e(t,s):s()},l?n.href=i:n.src=i,document.getElementsByTagName("head")[0].appendChild(n)}}(["https://www.mediatheque.justice.gouv.fr/static/lib/player.css?2","https://www.mediatheque.justice.gouv.fr/static/lib/player.js?2","https://www.mediatheque.justice.gouv.fr/media_player?vjs=1&id_media=5482&auth=e302b168c2957856b3c986e72d4b800f7ca56880&time=1660049260&extra=embed&playlistUiClass=plb25b2f"],function(){console.log("over"); x = document.getElementById("plvjs-loaderplb25b2f");x.style.display = "none";}));</script><div class="plvjs-loader" id="plvjs-loaderplb25b2f" style="background:#000;width:100%;height:100%;position:absolute;z-index:20;top:0;display:;"></div> <div style="height: 100%;"> <div style="float: left;height:100%;width:70%"> <video id="videojsplb25b2f" preload="none" class="video-js vjs-default-skin vjs-big-play-centered " webkit-playsinline="true" playsinline controls style="width:100%;height:100%;object-fit:contain;" nopwidth="100%" ><p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p> </video> </div> <div class="vjs-playlist plb25b2f" style="overflow-y: auto ;height:100%;width:30%;float:left;"></div> </div> </div>
  </div>

  <h2 class='text-center fr-mt-8w fr-mb-4w'><%= content(:subtitle) %></h2>

  <div class="flex justify-center">
    <div class="fr-select-group">
      <%= select_tag "zip_code_selector", options_for_select(@zip_codes), {include_blank: t(".select_a_zip_code"), class: "fr-select fr-mb-4w", data: {target: 'preparer-mon-rdv.zipCode', action: 'change->preparer-mon-rdv#buildCards'}} %>
    </div>
  </div>

  <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters" id="spip_and_sap_cards_container" data-preparer-mon-rdv-target="cardsContainer" >
    <p>Si vous ne trouvez pas votre tribunal judicaire ou service pénitentiaire d’insertion et de probation, c’est qu’il n’est pas encore référencé. Pour plus d’informations, veuillez consulter <a href="https://lannuaire.service-public.fr/" target="_blank">l’annuaire des services publics.</a><p>
  </div>
</div>
