<div class='fr-container static-content-container'>
  <h1 class='static-title preparer-place-title'><%= content(:main_title)%></h1>

  <p class='static-place-intro'><%= content(:main_description) %></p>

  <%= render 'components/direction_collapse', content: content %>

  <% repeater(:rich_collapse) do |collapse| %>
    <%= render 'components/collapse', collapse: collapse, collapse_style: "blue"  %>
  <% end %>
</div>
