<% content_for :title, t('.title') %>

<div class='fr-container static-content-container'>
  <h1 class='static-simple-title static-title-orange'><%= content(:main_title) %></h1>

  <div class='static-content'>
    <%= content.html(:main_rich_description) %>

    <%= link_to "https://beta.gouv.fr/startups/justif.html", target: '_blank', class: 'static-google-map-link' do %>
      <div class='static-box-link'>
        <%= content(:button_text) %>
      </div>
    <% end %>
  </div>
</div>
