<div class='fr-container static-content-container'>
  <h1 class='static-simple-title static-title-orange fr-mb-3w'><%= content(:main_title) %></h1>

  <% repeater(:rich_collapse) do |collapse| %>
    <%= render 'shared/collapse', collapse: collapse  %>
  <% end %>
</div>
