---
http_interactions:
- request:
    method: get
    uri: https://agents.mon-suivi-justice.incubateur.net/api/v1/convicts/106
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic blablabla
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b930e61e966ffdfdcf09ad226e44da26"
    body:
      encoding: UTF-8
      string: '{"id":944,"first_name":"Super","last_name":"Convict","phone":"+33666666666","agent":{"id":null,"first_name":null,"last_name":null,"phone":null,"email":null,"organization_name":null,"role":null},"appointments":[{"id":1,"datetime":"2021-12-20T14:00:00.000+01:00","duration":45,"state":"Manqué","origin_department":"BEX","place":{"name":"SPIP
        A","adress":"1 rue de la Poste, 05100 Briançon","phone":"+33888888888","email":"contact@spip.fr","contact_method":"phone"},"organization_name":"SPIP
        A","agenda_name":"SPIP A","appointment_type_name":"Sortie d''audience SPIP"},{"id":2,"datetime":"2022-03-01T10:00:00.000+01:00","duration":15,"state":"Planifié","origin_department":"BEX","place":{"name":"SPIP
        A","adress":"1 rue de la Poste, 05100 Briançon","phone":"+33888888888","email":"contact@spip.fr","contact_method":"phone"},"organization_name":"SPIP
        A","agenda_name":"SPIP A","appointment_type_name":"RDV de suivi SPIP"},{"id":7587,"datetime":"2022-04-25T11:00:00.000+01:00","duration":30,"state":"Planifié","origin_department":"BEX","place":{"name":"SPIP
        A","adress":"1 rue de la Poste, 05100 Briançon","phone":"+33888888888","email":"contact@spip.fr","contact_method":"phone"},"organization_name":"SPIP
        A","agenda_name":"SPIP A","appointment_type_name":"RDV de suivi SPIP"}]}'
  recorded_at: Fri, 11 Mar 2022 17:25:21 GMT
recorded_with: VCR 6.0.0
