<li class="col-span-1 fr-card fr-enlarge-link">
  <div class="fr-card__body">
    <% if display_state %>
      <div class="flex justify-between items-center">
        <h4 class="fr-card__title text-sm font-bold text-black">
          <%= link_to l(appointment.datetime, format: :clear).capitalize, appointment_path(appointment.id), class: "fr-card__link" %>
        </h4>
        <span class="inline-flex items-center px-3 py-1.5 rounded-full text-xs font-bold bg-gray-400 text-white"><%= appointment.state %></span>
      </div>
    <% else %>
      <h4 class="fr-card__title text-sm font-bold text-black">
        <%= link_to l(appointment.datetime, format: :clear).capitalize, appointment_path(appointment.id), class: "fr-card__link" %>
      </h4>
    <% end %>
    <p class="fr-card__desc text-sm text-gray-700 mb-0"><%= appointment.place_name %></p>
  </div>
</li>
