<li class="col-span-1 fr-card fr-enlarge-link">
  <div class="fr-card__body">
    <h4 class="fr-card__title text-sm font-bold text-black">
      <%= link_to l(appointment.datetime, format: :clear), appointment_path(appointment.id), class: "fr-card__link" %>
    </h4>
    <p class="fr-card__desc text-sm text-gray-700 mb-0"><%= appointment.place_name %></p>
  </div>
</li>
