<div class="fr-container fr-py-6w px-12 lg:px-32">

  <h1 class="text-3xl">Vos rendez-vous</h1>

  <% if current_convict.appointments.any? %>

    <% if current_convict.next_appointment.present? %>
      <div class="my-10">
        <%= render 'appointment', appointment: current_convict.next_appointment %>
      </div>
    <% end %>

    <% if current_convict.future_appointments.any? %>
      <div class="my-10">
        <h1 class="text-xl">Rendez-vous suivants</h1>

        <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 pl-0">
          <% current_convict.future_appointments.each do |appointment| %>
            <%= render 'appointment_summary', appointment: appointment %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if current_convict.past_appointments.any? %>
      <div class="my-10">
        <h1 class="text-xl">Rendez-vous passés</h1>

        <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 pl-0">
          <% current_convict.past_appointments.each do |appointment| %>
            <%= render 'appointment_summary', appointment: appointment %>
          <% end %>
        </ul>
      </div>
    <% end %>

  <% else %>

    <div class="my-10">
      <h1 class="text-xl">Vous n'avez pas encore de rendez-vous</h1>
    </div>

  <% end %>

</div>
